.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}


.portfolio-title {
    position: relative;
}

.portfolio-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.portfolio-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}


.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.mywork-item {
    position: relative;
    width: 20rem;
    height: 15rem;
    overflow: visible;
    cursor: pointer;
}

.mywork-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.mywork-item img:hover {
    border: 4px solid #ff00ff;
    transition: all 0.3s ease;
}

.portfolio-tooltip {
    position: absolute;
    left: 105%;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
    width: 15rem;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 1rem;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 2;
}


.mywork-container .mywork-item:nth-child(odd) .portfolio-tooltip {
    left: auto;
    right: 105%;
    transform: translateY(-50%) translateX(0);
}

.mywork-item:hover .portfolio-tooltip {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
}

.portfolio-tooltip h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #ff00ff;
}

.portfolio-tooltip p {
    font-size: 1.2rem;
    line-height: 1.4;
}


.mywork-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.mywork-showmore:hover {
    transform: scale(1.1);
    transition: 0.6s;
    border-color: #ff00ff;
}

.mywork-showmore:active {
    transform: scale(0.8);
    transition: 0.2s;
}