.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 2rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-left p {
    font-size: 20px;
    max-width: 400px;
    margin-bottom: 1rem;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 1rem;
}